In [4]:
import pandas as pd
import numpy as np
# 读取数据
dir_path = '../tcjr/'
operation_train_path = dir_path + 'operation_train_new.csv'
transaction_train_path = dir_path + 'transaction_train_new.csv'
tag_train_path = dir_path + 'tag_train_new.csv'
operation_df = pd.read_csv(operation_train_path)
transaction_df = pd.read_csv(transaction_train_path)
tag_df = pd.read_csv(tag_train_path)
tag_df

         UID  Tag
0      10000    1
1      10001    0
2      10002    0
3      10003    0
4      10004    0
5      10005    0
6      10006    0
7      10007    0
8      10008    0
9      10009    0
10     10010    0
11     10011    0
12     10012    0
13     10013    0
14     10014    0
15     10015    0
16     10016    0
17     10017    0
18     10018    0
19     10019    1
20     10020    0
21     10021    1
22     10022    0
23     10023    0
24     10024    0
25     10025    0
26     10026    0
27     10027    0
28     10028    0
29     10029    0
...      ...  ...
31149  67727    0
31150  67728    0
31151  67729    0
31152  67730    0
31153  67731    0
31154  67732    0
31155  67733    0
31156  67734    0
31157  67735    0
31158  67736    0
31159  67737    0
31160  67738    1
31161  67739    0
31162  67740    0
31163  67741    0
31164  67742    0
31165  67743    0
31166  67744    1
31167  67745    0
31168  67746    0
31169  67747    1
31170  67748    0
31171  67749    0
31172  67750    0
31173  67751    0
31174  67752    0
31175  67753    0
31176  67754    0
31177  67755    1
31178  67756    1

[31179 rows x 2 columns]

In [6]:
# 根据UID分组
operation_grouped = operation_df.groupby('UID')
id2operation={}
for name,group in operation_grouped:
	id2operation[name] = group,
    transaction_grouped = transaction_df.groupby('UID'),
id2operation

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [ ]:
id2transaction={},
for name,group in transaction_grouped:,
    id2transaction[name] = group,
    # 标签数据,
id2tag=dict(tag_df.values.tolist()),
id2operation[10000],
group_o=id_2_operation[10000],
group_t=id_2_transaction[10000],
group_t.shape[0]